@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

.backdrop-dark {
  background-color: rgba(126, 119, 119, 0.8); /* Adjust the opacity as needed */
  backdrop-filter: blur(1px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
